@font-face {
    font-family: KHMUOL;
    src: url("fonts/KhmerOSmuol.ttf");
}

@font-face {
    font-family: Siemreap;
    src: url("fonts/Siemreap.ttf");
}

@font-face {
    font-family: BTBR;
    src: url("fonts/Battambang/Battambang-Regular.ttf");
}

@font-face {
    font-family: BTBB;
    src: url("fonts/Battambang/Battambang-Bold.ttf");
}

@font-face {
    font-family: KHSANGAM;
    src: url("fonts/KhmerSangamMN.ttf");
}

@font-face {
    font-family: WATPHNOM;
    src: url("fonts/KhmerOSwatphnom.ttf");
}

@font-face {
    font-family: KHSR;
    src: url("fonts/KhmerOSsiemreap.ttf");
}

@font-face {
    font-family: APSARA;
    src: url("fonts/apsara.ttf");
}

@font-face {
    font-family: KHPALI;
    src: url("fonts/KhmerOSmuolpali.ttf");
}

@font-face {
    font-family: TACTENG;
    src: url("fonts/tacteng.ttf");
}

@font-face {
    font-family: KHPENSR;
    src: url("fonts/KhmerPenSurin.ttf");
}

@font-face {
    font-family: KANTUMRUYR;
    src: url("fonts/KantumruyRegular.ttf");
}

@font-face {
    font-family: KANTUMRUYL;
    src: url("fonts/KhKantumruyLight.ttf");
}

@font-face {
    font-family: NunitoL;
    src: url("fonts/Nunito/Nunito-Light.ttf");
}

@font-face {
    font-family: NunitoR;
    src: url("fonts/Nunito/Nunito-Regular.ttf");
}

@font-face {
    font-family: NunitoEL;
    src: url("fonts/Nunito/Nunito-ExtraLight.ttf");
}

@font-face {
    font-family: SWISSL;
    src: url("fonts/Swis721LtBT.ttf");
}

@font-face {
    font-family: SWISSB;
    src: url("fonts/Swis721MdBT.ttf");
}

// Bootstrap
@import '~bootstrap/scss/bootstrap';
// Icons
@import '~simple-line-icons/css/simple-line-icons.css';
@import '~@fortawesome/fontawesome-free/css/all.min.css';
// Coreui
@import '~@coreui/coreui/dist/css/coreui.min.css';
// Variables
@import 'variables';
body * {
    font-family: NunitoR, BTBR, KANTUMRUYR;
}


/* import fonts */

.ivu-layout-has-sider {
    position: absolute;
    background: red;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.ivu-layout-header {
    height: 0px !important;
    border-bottom: 2px solid gold;
}

.hts {
    color: #2e66b2;
    font-family: TACTENG;
    display: block;
    text-align: center;
    line-height: 30px;
    font-size: 7em;
    padding: 0px 0px 10px 0px;
    margin: 0px 0px 10px 0px;
}